Flask==3.0.3
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
Werkzeug==3.0.3
stripe==10.5.0
Pillow==10.4.0
python-slugify==8.0.4
email-validator==2.2.0
dnspython==2.7.0
mistune==3.0.2
